<!DOCTYPE html>
<html lang="en">
	<head>
	</head>
  	<body>
		<h1>Welcome to the Event RSVP homepage</h1>
		<hr/>
		<p>{{msg}}</p>
		<div>
			<form action='/response/{{event.id}}' method='post'>
				{% csrf_token %}
				Name: {{event.name}} <br/>
	  			Date: {{event.date}} <br/>
	  			Number: {{event.num}}<br/>
	  			Your number: <input type='text' name='number'><br/>
	  			<hr/>
	  			free text Question:
	  			<div>
	  				{% for ft in fts %}
					    <div>
					    	Question <span>{{forloop.counter}}</span> <strong>{{ft.q}}</strong><br/>
					    	<textarea name='ft_ans_{{forloop.counter0}}' readonly>{{ft.a}}</textarea>
					   	</div>
					{% endfor %}
	  			</div>
	  			<hr/>
	  			multiple choice:
	  			<div>
	  				{% for mc in mcs %}
					    <div id="mc_{{forloop.counter0}}">
					    	Question: <strong> {{mc.q}} </strong><br/>
					    	Answer: 
					    		{% for c in mc.c %}
					    			{% if c.chosen %}
										<input type='text' name='mc_res_{{forloop.counter0}}' value='{{c.choice}}' readonly>
									{% endif %}
								{% endfor %}

					    </div>
					{% endfor %}
	  			</div>
				<input type="submit" value="Submit"/>
			</form>
		</div>
		<hr/>
	</body>
</html>